@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* styles.css */

/* Add styles here to customize the appearance of your app */
.drag {
  color: #ffffff;
  width: 88%;
  height: 7%;
  display: block;
  left: 5px;
  top: 5px;
  position: absolute;
  -webkit-app-region: drag;
}

body {
  font-family: Inter, sans-serif;

  color: white;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: hsla(0, 0%, 6%, 0.64);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://i.postimg.cc/13Mhj4qB/bg.png");
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(15px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(15px);


  width: 100vw;
  height: 100vh;

  /* My Suggestion */

  display: flex;

  align-items: center;
  align-content: center;

  justify-items: center;
  justify-content: center;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

main {
  display: flex;
  flex-direction: column;
  height: 71%;

  align-items: center;
  align-content: center;

  width: 71%;
}

header {
  display: contents;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none;
}

.logo {
  position: absolute;
  top: 4px;
  left: 6px;
}

.buttons {
  background: rgba(31, 31, 31, 0.8);
  background-color: rgba(31, 31, 31, 0.8);
  border-radius: 4px;
  right: 10px;
  top: 10px;
  height: 5%;
  width: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button {
  background-color: transparent;
}

.btn {
  right: 6px;
  border: none;
  cursor: pointer;
}

.avdanostxtlogo {
  color: white;
  font-size: xx-large;
}
.maindescription1{
    margin-bottom: -26px;
    font-size: 0.9rem;
}
.maindescription2{
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
.avdanostxtlogo h1 {
  margin-bottom: 0em;
}
.avdanosmaintext {
    margin-bottom: -16px;
    font-size: 0.9rem;
}
.download{
    width: 100%;
    height: 15%;
    margin-bottom: 5px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px;

    transition: background-color 0.15s ease-out;
}
.selectISO{
    width: 100%;
    height: 15%;
    margin-bottom: 5px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px;

    transition: background-color 0.15s ease-out;
}
.eraseMedium{
    width: 100%;
    height: 15%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px;

    transition: background-color 0.15s ease-out;
}

.avdanostxtlogodescription p {
  font-size: 125%;
  font-weight: 500;
}

footer {
  position: absolute;

  width: max-content;
  height: max-content;

  display: contents;
  width: 100vw;
}

footer > .right {
  right: 7vw;
}

footer > .left {
  left: 7vw;
}

footer > div {
  position: absolute;
  display: flex;
  width: max-content;
  height: max-content;

  bottom: 7vh;
}

footer button {
  --feature: rgba(143, 38, 84, 0.8);

  border: none;
  padding: 0.6em;
  background-color: var(--feature);
  box-shadow: 4px 4px 10px hsla(0, 0%, 0%, 0.2);
  color: white;
  border-radius: 7px;
  font-weight: 500;
  display: flex;
  align-items: center;
  align-content: center;
  border: 2px solid var(--feature);
  transition: all 120ms linear;
  cursor: pointer;
}

footer button:hover {
  background-color: hsla(334, 100%, 45%, 1);
  box-shadow: 4px 4px 10px hsla(334, 100%, 40%, 0.2);
  /* background-color: rgba(136, 136, 136, 0.8);
  color: var(--feature); */
}

.licensetxt {
  font-size: x-large;
  margin-bottom: -20px;
}
.disagree {
  right: 345px !important;
}
.avdanosflashlogo {
  margin-bottom: 25px;
}
.drive {
  margin-right: 300px;
  margin-bottom: -50px;
}
.iso {
  margin-left: 300px;
}
.drivedropdown {
  margin-top: 15px;
  margin-right: 300px;
  margin-bottom: -20px;
}
.isodropdown {
  margin-left: 300px;
}
.logomaintxt {
  margin-bottom: -12px;
}
#bar-container {
  width: 400px;
  height: 25px;
  background-color: hsla(0, 0%, 12%, 1);
  border-radius: 5px;
}

#bar {
  width: 0;
  height: 100%;
  background-color: hsla(334, 100%, 59%, 1);
  transition: width 0.2s;
  border-radius: 5px;
}

body.is-loaded {
 transition: all 1s;
 -webkit-transition: all 1s;
 opacity: 1;
}
.title {
  top: 10px;
  left: 10px;
  background-color: rgba(31, 31, 31, 0.8);
  width: 25%;
  height: 5%;
  border-radius: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.title p {
  font-size: smaller;
  font-weight: lighter;
}
.maintext {
  font-size: 15px;
  width: 100%;
  height: 90%;

  align-items: center;
  position: absolute;
  display: flex;
}

.download:hover {
    background-color: rgba(255, 46, 137, 0.25);

    transition: background-color 0.15s ease-in;
}
.selectISO:hover {
    background-color: rgba(255, 46, 137, 0.25);

    transition: background-color 0.15s ease-in;
}
.eraseMedium:hover {
    background-color: rgba(255, 46, 137, 0.25);

    transition: background-color 0.15s ease-in;
}

.download:focus {
    background-color: rgba(255, 46, 137, 0.5);

    transition: background-color 0.15s ease-in;
}
.selectISO:focus {
    background-color: rgba(255, 46, 137, 0.5);

    transition: background-color 0.15s ease-in;
}
.eraseMedium:focus {
    background-color: rgba(255, 46, 137, 0.5);

    transition: background-color 0.15s ease-in;
}

.pg3btn {
  color: whitesmoke;
  font-size: xx-small !important;
  object-fit: cover;
  overflow: hidden;
}

.pg3btn p {
  font-weight: normal;
}
